<h2 mat-dialog-title>{{ data.mode }} Product</h2>
<mat-dialog-content [formGroup]="form" *ngIf="data.product">
  <mat-form-field>
    <input matInput type="text" formControlName="name" placeholder="Product Name" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" formControlName="sku" placeholder="SKU" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" formControlName="price" placeholder="Price" />
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-raised-button class="mat-raised-button mat-button-base mat-primary" (click)="saveProduct()">Save</button>
    <button mat-raised-button class="mat-raised-button mat-button-base mat-basic" (click)="cancel()">Cancel</button>
  </mat-dialog-actions>
</mat-dialog-content>
